<!---------------- The bootstrap popover --------------->
<div>
  <div id="popover-head" class="hide">Create Appointment</div>
  <div id="popover-content" class="hide">
    <form id="calendar-form">
      <div>
        <input
        id="description"
        type="text"
        class="form-control"
        value="Description"
        >
        <input

        id="beginDate"
        type="date"
        class="form-control"
        value="2016-08-22"
        >
        <input
        id="endDate"
        type="date"
        class="form-control"
        value="2016-08-22"
        >
        <input
        id="beginTime"
        type="time"
        class="form-control"
        value="01:00"
        >
        <input
        id="endTime"
        type="time"
        class="form-control"
        value="02:00"
        >
        <button class="btn btn-default btn-block" id="submit-appointment" type="submit" value="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
